.center-card {
    max-width: 600px; /* Adjust the max-width as needed */
    margin: auto; /* Center the card horizontally */
    margin-top: 10px; /* Adjust the top margin as needed */
    padding: 30px;
  }
  
  mat-form-field {
    width: 100%;
  }
  